* {
    background-color: rgb(0, 0, 0);
}

.container {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 20% 10% 10% 10% 10%


    
}

.item-1 {
    grid-row-start: 1;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 23;
    border-style: solid;
    
    
}

.solen {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    justify-self: center;
    border-style: none;
   
    
}

.item-3 {
    grid-column: 3 / 8;
    grid-row: 1 / 2;
    border-style: none;
    
    
}
.item-3 h1 {
    color: goldenrod;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 70px;
    font-family: special elite;
    text-shadow: 0px 0px 0px rgb(255, 213, 0);  
 
}


.saturn { 
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: end;
    opacity: 0;
    
    }

.venus {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    align-self: end;
    opacity: 0;
}

.mars {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    opacity: 0;
    
}

.neptune {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: center;
    opacity: 0;
}

.mercury {
    grid-column: 6 / 7;
    grid-row: 3 / 4;
    align-self: center;
    opacity: 0;
}

.earth {
    grid-column: 7 / 8;
    grid-row: 3 / 4;
    align-self: end;
    opacity: 0;
}

.jupiter {
    grid-column: 8 / 9;
    grid-row: 3 / 4;
    opacity: 0;

}

.uranus {
    grid-column: 9 / 10;
    grid-row: 3 / 4;
    align-self: end;
    opacity: 0;
}

.Submits {
    background-color: black;
    margin: 8px;
    border-style: double;
    border-color: goldenrod;
}

#SaturnSubmit 
{
    background-color: black;
}

#JupiterSubmit {
    background-color: black;
    
}

.SubmitSection {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    justify-self: center;
    align-self: end;
    color: goldenrod;
    font-size: larger;
    margin-top: 50px;
    margin-right: 50px;
} 


    



/* #NeptuneSubmit {
    background-color: beige;
} */

/*
#button1 {
    width: 200px;
    height: 200px;
    background-color: rgb(206, 206, 237);
}
*/

